html{
    position: relative;
}
body{
    margin-bottom: 100px;
    margin-top: 30px;
}

.item_box{
    height:500px;
}

.photo-thumb{
    width:100%;
    height:75%;
    float:left;
    border: thin solid #d1d1d1;
    margin:0 1em .5em 0;
    float:left;
}

.jumbotron{
    height: 400px;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -300px;
    background-size: cover;
    color: #eaeaea;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5) ;
}

.jumbotron h1,.jumbotron p{
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5) ;

}
hr{
    width: 250px;
    border-top: 3px solid blue;
}

section {
    min-height: 700px;
}

.portofolio{
    background-color: #eee;
}

.contact{
    min-height: 800px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 30px;
}

footer p{
    color: #aaa;
    font-size: 1em;
}
